#忽略任何文件夹下面的source insight工程
**/*si*project
**/si

#忽略Keil工程编译生成的中间件
*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.tra
*.dep
*.iex
*.htm
*.map

*.dbgconf